.servicesSection {
  padding: 4rem 2rem 9rem;
  background-color: #f9fbfd;
  text-align: center;
}

.header {
  margin-bottom: 2rem;
}

.subtitle {
  color: #eb5b28;
  font-size: 2.8rem;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2.8rem;
  line-height: normal;
  font-weight: bold;
  color: #eb5b28;
  margin-top: 0rem;
}

.description {
  font-size: 1rem;
  color: #555;
  margin: 2rem auto 4rem auto;
  max-width: 800px;
}

.cardContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imageWrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}

.imageWrapper:hover {
  transform: scale(1.05);
}

.image {
  object-fit: cover;
  transition: transform 0.3s;
}

.cardContent {
  padding: 1.5rem;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.cardDescription {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
}

.learnMore {
  text-decoration: none;
  color: #eb5b28;
  font-weight: bold;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.learnMore:hover {
  color: #ff8e8e;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }
  .servicesSection {
    padding: 1rem 1rem 4rem;
  }

  .description {
    max-width: 100%;
  }
}
