.servicesSection {
  padding: 1rem 6rem 2rem;
  background-color: #fff;
  text-align: center;
}

.header {
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #eb5b28;
  font-size: 2.8rem;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 0;
}

.descriptionGrid {
  padding: 1rem;
}

.description {
  font-size: 1rem;
  text-align: start;
  color: #555;
  max-width: 800px;
  margin: 0 auto 3rem auto;
  line-height: 1.6;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.serviceCard {
  background: #f9fbfd;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.serviceCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.iconWrapper {
  background-color: #eb5b28;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
}

.serviceTitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #eb5b28;
}

.serviceDescription {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.6;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .servicesSection {
    padding: 2rem 1rem;
  }
  .servicesGrid {
    grid-template-columns: 1fr;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .serviceCard {
    padding: 1.5rem;
  }

  .serviceTitle {
    font-size: 1.2rem;
  }

  .serviceDescription {
    font-size: 0.9rem;
  }
}
